body {
    background: #000000 url(oldal.png)  top center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 0px 20px 0px;
    text-align: justify;
}

#fejlec {
    background: #000000 url(images.jfif)  top center no-repeat;
    padding: 1%;
    margin-top: 30px;
}

#cim {
    text-align:center;
    margin: 3% 10% 3% 10%;
    background-color: forestgreen;
    font-size: 40px ;
}

#torzs{
    margin: 0% 20% 0% 20%;
    background-color: antiquewhite;
    border:olivedrab solid 3px;
    padding: 20px;
}

